// Main container for the search section
.search_div {
  padding: 131px 0 295px 0;
}

// Title of the search section
.search_title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 15px;
}

// Container for the search form
.form_container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  max-width: 1210px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

// Input field for job title or company
.first_input {
  background: url(../../assets/Search.svg) no-repeat left center;
  padding: 8px 0 9px 50px;
  margin: 35px 132px 34px 32px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 21px;
}

// Divider between input fields
.form_span {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

// Input field for city or country
.second_input {
  background: url(../../assets/Location.svg) no-repeat left center;
  padding: 8px 0 9px 37px;
  margin: 35px 126px 34px 169px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 21px;
}

// Search button
.form_button {
  background-color: rgb(39, 64, 89);
  padding: 41px 70px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

// Main container for the companies section
.companies {
  min-height: 180px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

// Inner container to center and limit content width
.companies_inner {
  width: 100%;
  max-width: 1720px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Title for the companies section
.companies_title {
  color: rgba(105, 105, 105, 0.8);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

// Container for the company logos
.companies_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

// Styles for individual company logos
.logo {
}
