.footer {
  display: flex;
  flex-direction: column;

  padding: 56px 0 53px 0;
  background-color: rgb(82, 96, 109);
  gap: clamp(16px, calc((100vw / 1920) * 738), 738px);
  overflow-x: hidden;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.footer_links {
}
.colijob_logo {
}
.colijob_logo {
}
