.footer_bg {
  background-color: rgb(82, 96, 109);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  overflow-x: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 56px 0 53px 0;
  max-width: 1720px;
  margin: 0 auto;

  h2 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
	 mar
  }
}

.footer_links {
}
.colijob_logo {
}
.colijob_logo {
}
