.footer_bg {
  background-color: rgb(82, 96, 109);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  overflow-x: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 56px 0 53px 0;
  max-width: 1720px;
  margin: 0 auto;

  h2 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 55px;
  }
}

.footer_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  padding-bottom: 47px;
  border-bottom: 2px solid rgb(70, 84, 97);
  a {
    color: rgb(208, 232, 255);
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
  }
}
.footer_logos {
}
.colijob_logo {
}

.social_logos {
}
