.vacancy_card_list {
  h2 {
    color: rgba(0, 0, 0, 0.85);
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 12px;
  }
  p {
    color: rgba(141, 141, 141, 0.8);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 42px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(449px, 1fr));
  gap: 40px 185px;
  margin-bottom: 91px;
}

.vacancy_card_button {
  display: flex;
  justify-content: center;
  button {
  }
}
