.vacancy_card {
  width: 449px;
  height: 350px;
  padding: 40px 46px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;

  h2 {
    max-width: 272px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 37px;
  }
}
.card_category {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.category_circle {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  text-align: center;
  margin-right: 17px;
}
.category_title {
  color: rgba(141, 141, 141, 0.8);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.card_location {
  background: url("../../assets/Vacancy-location.svg") no-repeat left;
  background-size: 20px 14px;
  padding-left: 28px;
  color: rgba(141, 141, 141, 0.8);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.card_company {
  margin-top: auto;
  display: flex;

  gap: 10px;
  img {
    max-height: 18px;
  }
  p {
    color: rgba(141, 141, 141, 0.8);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
  }
}
