.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e7f6d9;
}

.card {
  background-color: #cdf3a3;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 50px 100px;
  text-align: center;
  max-width: 300px;
  font-family: ;

  h2 {
    color: #38461f;
    margin-bottom: 50px;
  }
  p {
    color: #38461f;
    margin-bottom: 50px;
  }
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #dddddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #868686;
}
